.blog-summary {
    border-bottom: 1px dashed #AAAAAA;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 11px 0;
}

.statscontainer {
    float: left;
    overflow: hidden;
    text-align: center;
    width: 70px;
    margin-top: 10px;
}

.stats {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 4px 4px 4px 4px;
    margin: 0;
    padding: 5px;
    font-size: 14px;
}

.pageview {
    color: #555555;  
}

.comment {
    background-color: #7E91BD;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    margin: 0;
    padding: 4px 0;
}

.summary {
    margin-left: 90px;

} 

.post-tag {
    background-color: #E0EAF1;
    background-image: url("data:image/gif;base64,R0lGODlhEAAQAIAAAAAAAP///yH5BAEHAAAALAAAAAAQABAAAAIThI+py+0PIwwhUjqvrbL7D4ZHAQA7");
    background-position: right center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #3E6D8E;
    border-radius: 3px 12px 12px 3px;
    border-right: 1px solid #7F9FB6;
    color: #3E6D8E;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin: 2px 2px 2px 0;
    padding: 2px 14px 2px 6px;
    text-decoration: none;
    white-space: nowrap;
}

.post-date {
    float: right;
    margin-right: 10px; 
    font-style: italic;
    font-size: 14px;
    color: gray;
}

.footer p{
    float: left;
    margin-right: 20px;
}







