{% extends "myapp/views/templates/base.html" %}


{% block content %}

<b>About Me:</b><p><p>
    一个普通的IT屌丝男，长相平平技术一般，非名牌大学毕业，之前也没有在大公司混过，经历简单平淡的如同白开水，和很多辉煌经历的人比简直不值一提，甚汗。不过和大多数程序员一样，有点自己的小梦想，在初创小公司里奋斗过，也和别人合伙创业拼搏过，从郑州到杭州，从软件行业到移动增值最后到电子商务行业，一次次地追寻自己的梦想，做技术虽然很苦逼但依然痴心不改。近几年一直在做跨国电子商务网站的风险控制与反欺诈系统建设，总算半只脚踏进了这个大有前景的行业，甚幸。<br>
    <br/>
    个人兴趣爱好包括户外爬山，自行车等，曾参与组织过名燥杭城一时的铁杆骑行队，西湖边、龙井及周边地区都留下过我们的身影，甚至成就了骑友的一段美好姻缘，玩了两年后因工作家庭等原因，骑行队慢慢解散但这种不基于任何功利建立起来的感情一直持续至今。平时有空喜欢读书，兴趣广泛但不求甚解，买的多读完的少，遇到特别喜欢的例外，比如《浪潮之巅》这样又有营养又不枯燥的书也能一口气读完。
<p>

    <span class="label label-important">GitHub</span>&nbsp;<a href="http://github.com/yikebocai">yikebocai</a>&nbsp;&nbsp;<span
        class="label label-info">微博</span>&nbsp;<a href="http://weibo.com/simbo">@波菜</a>

{% endblock %}
