<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>一棵波菜的BLOG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{context}}/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{context}}/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{context}}/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{context}}/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{context}}/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{context}}/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{context}}/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{context}}/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">一棵波菜</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

	<div class="container">
    {% block content %}

	{% endblock %}

	<hr>

	<footer>
        <p>&copy;一棵波菜 2013</p>
      </footer>

    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{context}}/js/jquery.js"></script>
    <script src="{{context}}/js/bootstrap-transition.js"></script>
    <script src="{{context}}/js/bootstrap-alert.js"></script>
    <script src="{{context}}/js/bootstrap-modal.js"></script>
    <script src="{{context}}/js/bootstrap-dropdown.js"></script>
    <script src="{{context}}/js/bootstrap-scrollspy.js"></script>
    <script src="{{context}}/js/bootstrap-tab.js"></script>
    <script src="{{context}}/js/bootstrap-tooltip.js"></script>
    <script src="{{context}}/js/bootstrap-popover.js"></script>
    <script src="{{context}}/js/bootstrap-button.js"></script>
    <script src="{{context}}/js/bootstrap-collapse.js"></script>
    <script src="{{context}}/js/bootstrap-carousel.js"></script>
    <script src="{{context}}/js/bootstrap-typeahead.js"></script>

  </body>
</html>
