{% extends "myapp/views/templates/base.html" %}


{% block content %}

<div class="row">
    <div><h1>{{blog.title}}</h1></div>
    <div>
        <i style="font-family:Times New Roman">{{blog.postdate}} by <a href="/about">bocai</a></i>
        <i style="font-family:Times New Roman" style="color:blue; text-align:center">
            {% if blog.hastag %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tag:
            {% endif %}
            {% for tag in blog.tags %}
            <a href="/tag?p={{tag}}">{{tag}}</a>&nbsp;
            {% endfor %}
        </i>

    </div>
    <div><br></div>
    <div>{{blog.content}}</div>

    <!-- JiaThis Button BEGIN -->
    <div align="right" class="jiathis_style_24x24">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a href="http://www.jiathis.com/share?uid=1790577" class="jiathis jiathis_txt jtico jtico_jiathis"
           target="_blank"></a>
        <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript">
        var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1368767448884974"
            charset="utf-8"></script>
    <br>
    <!-- JiaThis Button END -->
    <div class="endline"></div>
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1790577"
            async=""></script>
    <!-- UY END -->
</div>


{% endblock %}


